<mat-form-field>
    <mat-label>Ordem</mat-label>
    <mat-select [formControl]="sortMethod">
        <mat-option *ngFor="let option of sortOptions" [value]="option.value"
            [disabled]="option.disabled">{{option.label}}</mat-option>
    </mat-select>
</mat-form-field>
<button color="secondary" class="m-l-2 m-b-2" mat-button (click)="sortMethod.setValue(1)" *ngIf="getUserSort()">
    <mat-icon fontIcon="sort_alt_off"></mat-icon>limpar
</button>
<div class="collection__grid-container" cdkDropList (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let perfume of collection; trackBy: trackPerfumeBy">
        <collection-card cdkDrag [perfume]="perfume" (remove)="removeFromCollection($event)"
            (cdkDragStarted)="shrinkCards()">
            <div drag-handle cdkDragHandle class="drag-handle">
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
        </collection-card>
    </ng-container>
</div>