<div class="flex flow-column w-100">
    <div class="m-y-2 flex align-items-center">
        <mat-icon class="m-r-2" fontIcon="sort" />
        <h2 class="m-b-0">Ordenar</h2>
    </div>
    <div class="sort m-b-3">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Ordem</mat-label>
            <mat-select [formControl]="sortMethod">
                <mat-option *ngFor="let option of sortOptions" [value]="option.value"
                    [disabled]="option.disabled">{{option.label}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button color="secondary" class=" m-t-2" mat-button (click)="sortMethod.setValue(1)" *ngIf="clearSortEnabled">
            <mat-icon>close</mat-icon>Limpar
        </button>
    </div>

</div>