.result {
  background-color: white;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(105%) saturate(125%);
  }

  &__thumbnail {
    position: relative;
    img {
      object-fit: contain;
    }
    mat-icon {
      position: absolute;
      bottom: 0;
      right: 5px;
    }
  }

  &__title {
    margin-bottom: unset;
  }
  &__subtitle {
    color: grey;
    margin-bottom: unset;
  }
}
