<h2 mat-dialog-title>Editar {{perfume.name}}</h2>
<mat-dialog-content>
    <form [formGroup]="perfumeForm">
        <section>
            <h3>Preço</h3>
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>R$ (100ml)</mat-label>
                <input type="number" matInput formControlName="user_price">
            </mat-form-field>
        </section>
        <section class="rating">
            <h3>Nota</h3>
            <mat-button-toggle-group formControlName="user_rating">
                <mat-button-toggle [value]="1">1</mat-button-toggle>
                <mat-button-toggle [value]="2">2</mat-button-toggle>
                <mat-button-toggle [value]="3">3</mat-button-toggle>
                <mat-button-toggle [value]="4">4</mat-button-toggle>
                <mat-button-toggle [value]="5">5</mat-button-toggle>
            </mat-button-toggle-group>
        </section>
        <section class="owned">
            <h3>Coleção</h3>
            <mat-button-toggle-group formControlName="user_owned">
                <mat-button-toggle *ngFor="let option of ownershipOptions"
                    [value]="option.value">{{option.label}}</mat-button-toggle>
            </mat-button-toggle-group>
        </section>
        <section class="tags">
            <h3>Tags</h3>
            <mat-form-field subscriptSizing="dynamic" class="example-chip-list">
                <mat-label>Tags</mat-label>
                <mat-select formControlName="user_tags" multiple>
                    <mat-option *ngFor="let tag of (tagOptions | async)" [value]="tag.id">{{tag.label}}</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fechar</button>
    <button mat-button [disabled]="perfumeForm.invalid || perfumeForm.pristine" [mat-dialog-close]="perfumeForm.value"
        cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>