<mat-card *ngIf="perfume" tabindex="0" class="user__perfume">
    <ng-content select="[drag-handle]"></ng-content>
    <mat-card-header (click)="perfume.showNotes = !perfume.showNotes">
        <section>
            <img mat-card-avatar src="{{ perfume.thumbnail }}" />
            <mat-card-subtitle>{{ perfume.name }} <small>({{perfume.company}} |
                    {{perfume.perfumers ? (perfume.perfumers | propsToString:"name" )+ " | " :""}}
                    {{perfume.rating.toFixed(2)}})</small></mat-card-subtitle>
        </section>
        <section *ngIf="perfume.user_tags?.length">
            <mat-chip-set>
                <mat-chip *ngFor="let tag of perfume.user_tags"
                    [ngStyle]="{background:tag.color}">{{tag.label}}</mat-chip>
            </mat-chip-set>
        </section>
    </mat-card-header>
    <mat-divider *ngIf=" perfume.showNotes || perfume.showAccords" />
    <mat-card-content *ngIf="perfume.showNotes">
        <ng-container *ngTemplateOutlet="notes; context:{$implicit:perfume.notes}"></ng-container>
    </mat-card-content>
    <mat-divider *ngIf="perfume.showNotes || perfume.showAccords" />
    <mat-card-content *ngIf="perfume.showAccords">
        <ng-container *ngTemplateOutlet="accords; context:{$implicit:perfume.accords}"></ng-container>
    </mat-card-content>
    <mat-divider />
    <mat-card-actions class="flex justify-content-space-between">
        <div>
            <a class="m-r-2" mat-button title="Detalhes" matTooltip="Detalhes" color="accent"
                [href]="getPerfumeUrl(perfume)" target="_blank">
                <mat-icon fontIcon="yard" /> Detalhes
            </a>
            <!-- <button mat-mini-fab title="Acordes" matTooltip="Acordes" color="accent" (click)="toggleAccords(perfume)">
                <mat-icon fontIcon="bar_chart" />
            </button> -->
        </div>
        <div>
            <button mat-mini-fab title="Editar" matTooltip="Editar" class="m-r-1" color="secondary"
                (click)="edit(perfume)">
                <mat-icon fontIcon="edit" />
            </button>
            <button [disabled]="perfume.loading" mat-mini-fab title="Remover" matTooltip="Remover" color="secondary"
                (click)="removeActionClicked.emit(perfume)">
                <mat-icon fontIcon="delete" />
            </button>

        </div>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="perfume.loading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>


<ng-template #notes let-notes>
    <div class="notes__wrapper">
        <div class="notes__group m-b-2" *ngFor="let entry of notes | keyvalue | reverse">
            <p>{{entry.key}}</p>
            <div class="notes__grid">
                <div class="notes__note-body" [matTooltip]="note.name" *ngFor="let note of $any(entry.value)">
                    <a [href]="note.link" target="_blank">
                        <img [title]="note.name" src="{{note.image}}" />
                        <div class="notes__note-name">
                            <small>{{note.name}}</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #accords let-accords>
    <div class="accords__wrapper">
        <ng-container *ngFor="let accord of accords">
            <small class='accords__entry' [ngStyle]=" {background:accord.background,width:accord.width}">{{accord.name}}
            </small>
        </ng-container>
    </div>
</ng-template>