<mat-card class="user__perfume">
    <ng-content select="[drag-handle]"></ng-content>
    <div (click)="perfume.showNotes = !perfume.showNotes">
        <mat-card-header>
            <section>
                <img mat-card-avatar src="{{ perfume.thumbnail }}" />
                <mat-card-subtitle>{{ perfume.name }}<br><small>({{perfume.company}}{{perfume.user_price ? " | " +
                        (perfume.user_price | currency:'BRL')
                        :""}})
                    </small>
                    <br>
                    <div *ngIf="perfume.user_rating" class="m-t-1">
                        <perfume-star-rating [rating]="perfume.user_rating" />
                    </div>
                </mat-card-subtitle>
            </section>
        </mat-card-header>
        <mat-divider></mat-divider>
        <section class="p-y-2 p-x-3" *ngIf="perfume.user_tags?.length">
            <mat-chip-set>
                <mat-chip *ngFor="let tag of perfume.user_tags;trackBy:trackTag"
                    [ngStyle]="{background:tag.color}">{{tag.label}}</mat-chip>
            </mat-chip-set>
        </section>
    </div>
    <mat-divider *ngIf=" perfume.showNotes || perfume.showAccords" />
    <mat-accordion [@.disabled]="true" multi displayMode="flat"
        *ngIf=" perfume.showNotes || perfume.showAccords;trackChord">
        <mat-divider />
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Notas
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>yard</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="notes__wrapper">
                    <div class="notes__group m-b-2" *ngFor="let tuple of perfumeNotes">
                        <p>{{tuple[0]}}</p>
                        <div class="notes__grid">
                            <div class="notes__note-body" [matTooltip]="note.name"
                                *ngFor="let note of tuple[1];trackBy:trackNote">
                                <a [href]="note.link" target="_blank">
                                    <img [title]="note.name" src="{{note.image}}" />
                                    <div class="notes__note-name">
                                        <small>{{note.name}}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Acordes
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>bar_chart</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="accords__wrapper">
                    <ng-container *ngFor="let accord of perfume.accords">
                        <small class='accords__entry'
                            [ngStyle]=" {background:accord.background,width:accord.width}">{{accord.name}}
                        </small>
                    </ng-container>
                </div>
            </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="perfume.perfumers?.length">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Perfumistas
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>people</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="perfumers__wrapper">
                    <div class="flex align-items-center m-b-1" *ngFor="let perfumer of perfume.perfumers">
                        <img class="m-b-0" mat-card-avatar [src]="perfumer.image">
                        <a class="w-100 m-l-3" [href]="'https://fragrantica.com.br/'+perfumer.url" target="_blank">
                            <small>
                                {{perfumer.name}}
                            </small>
                        </a>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-divider />
    <mat-card-actions class="flex justify-content-space-between">
        <div>
            <a class="m-r-2" mat-button title="Detalhes" matTooltip="Detalhes" color="accent"
                [href]="getPerfumeUrl(perfume)" target="_blank">
                <mat-icon fontIcon="yard" /> Detalhes
            </a>
        </div>
        <div>
            <button mat-mini-fab title="Editar" matTooltip="Editar" class="m-r-1" color="secondary"
                (click)="edit(perfume)">
                <mat-icon fontIcon="edit" />
            </button>
            <button [disabled]="perfume.loading" mat-mini-fab title="Remover" matTooltip="Remover" color="secondary"
                (click)="removeActionClicked.emit(perfume)">
                <mat-icon fontIcon="delete" />
            </button>
        </div>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="perfume.loading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>