mat-card {
  position: relative;
  cursor: pointer;
  p {
    margin-bottom: unset;
  }
}

.user__perfume {
  &-header {
    display: flex;
    flex-flow: column;
  }
  mat-chip-set {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    mat-chip {
      --mdc-chip-container-width: fit-content !important;
      --mdc-chip-container-height: fit-content !important;
      --mdc-chip-label-text-size: 12px !important;

      span {
        padding-left: var(--spacing-sm) !important;
        padding-right: var(--spacing-sm) !important;
      }
    }
  }
}

.notes {
  &__group {
    p {
      font-size: 12px;
    }

    @media (max-width: 768px) {
      p {
        font-size: inherit;
        margin-bottom: var(--spacing-sm) !important;
      }
    }
  }
  &__grid {
    --image-size: 35px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--image-size));
    gap: var(--spacing-sm);
    @media (max-width: 768px) {
      --image-size: 50px;
    }
  }
  &__wrapper {
    padding-bottom: var(--spacing-sm);
    padding-top: var(--spacing-sm);
  }

  &__note-body {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;

    img {
      border-radius: 4px;
      max-width: 100%;
    }

    a {
      line-height: 15px;
      display: inline-block;
      max-width: 100%;
    }
  }

  &__note-name {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    small {
      display: none;
      text-wrap: balance;
      // text-align: center;
      margin-top: var(--spacing-xs);
    }

    @media (max-width: 768px) {
      small {
        display: inline;
        max-width: 100%;
      }
    }
  }
}

.accords {
  &__wrapper {
    padding-bottom: var(--spacing-sm);
    padding-top: var(--spacing-sm);
    width: 100%;
  }
  &__entry {
    filter: saturate(90%) contrast(80%) brightness(115%);
    display: block;
    text-align: center;
    border-radius: 0 4px 4px 0;
    padding: 1px;

    &:not(:last-of-type) {
      margin-bottom: 2px;
    }
  }
}
