<mat-card *ngIf="perfume" tabindex="0" class="user__perfume">
    <mat-card-header>
        <img mat-card-avatar src="{{ perfume.thumbnail }}" />
        <mat-card-subtitle>{{ perfume.name }} <small>({{perfume.company}} |
                {{perfume.rating.toFixed(2)}})</small></mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-divider *ngIf="perfume.showNotes"></mat-divider>
    <mat-card-content *ngIf="perfume.showNotes">
        <ng-container *ngTemplateOutlet="notes; context:{$implicit:perfume}"></ng-container>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="flex justify-content-space-between">
        <div>
            <button class="m-r-2" mat-mini-fab title="Notas" matTooltip="Notas" color="accent"
                (click)="perfume.showNotes = !perfume.showNotes">
                <mat-icon fontIcon="yard" />
            </button>
            <button mat-mini-fab title="Acordes" matTooltip="Acordes" color="accent"
                (click)="perfume.showNotes = !perfume.showNotes">
                <mat-icon fontIcon="bar_chart" />
            </button>
        </div>
        <div>
            <button [disabled]="perfume.loading" mat-mini-fab title="Remover" matTooltip="Remover" color="primary"
                (click)="removeActionClicked.emit(perfume)">
                <mat-icon fontIcon="delete" />
            </button>
        </div>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="perfume.loading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>


<ng-template #notes let-perfume>
    <div class="notes__wrapper">
        <div *ngFor="let entry of perfume.notes | keyvalue | reverse">
            <small>{{entry.key}}</small>
            <div class="flex flex-wrap">
                <a [matTooltip]="note.name" [href]="note.link" target="_blank" *ngFor="let note of $any(entry.value)">
                    <img [title]="note.name" width="35" src="{{note.image}}" />
                </a>
            </div>
        </div>
    </div>
</ng-template>