.user__perfume {
  cursor: pointer;
  height: fit-content;
  max-width: 230px;
  margin: var(--spacing-sm);
  p {
    margin-bottom: unset;
  }
}

.notes {
  &__wrapper {
    a:not(:last-of-type) {
      margin-right: var(--spacing-xs);
    }
    img {
      width: 35px;
    }
  }
}
