mat-card.user__perfume {
  position: relative;
  cursor: pointer;
  p {
    margin-bottom: unset;
  }
}

.notes {
  &__wrapper {
    padding-bottom: var(--spacing-sm);
    padding-top: var(--spacing-sm);
    img {
      border-radius: 4px;
      width: 35px;
    }
    a {
      height: 35px;
      &:not(:last-of-type) {
        margin-right: var(--spacing-xs);
      }
    }
  }
}

.accords {
  &__wrapper {
    padding-bottom: var(--spacing-sm);
    padding-top: var(--spacing-sm);
    width: 100%;
  }
  &__entry {
    filter: saturate(90%) contrast(80%) brightness(115%);
    display: block;
    text-align: center;
    border-radius: 0 4px 4px 0;
    padding: 1px;

    &:not(:last-of-type) {
      margin-bottom: 2px;
    }
  }
}
