<mat-toolbar class="p-y-3" color="accent">
    <span>{{title}}</span>
    <div *ngIf="(authService.loggedIn$ | async) && (authService.user$ | async)"
        class="flex align-items-center m-r-3 h-100">
        <span class="vertical-separator--white m-x-3"></span>
        <div class="flex round-img m-r-3">
            <img [src]="(authService.user$ | async)?.photoURL" />
        </div>
        <span class="hide-mobile">Olá, {{(authService.user$ | async)?.displayName}}</span>
    </div>
    <span class="fill-space"></span>
    <button *ngIf="authService.loggedIn$ | async" (click)="authService.signOut()" mat-button>Sair</button>
</mat-toolbar>
<div class="app__wrapper">
    <div>
        <router-outlet />
    </div>
</div>