<div>
    <mat-form-field>
        <mat-label>Ordem</mat-label>
        <mat-select [formControl]="sortMethod">
            <mat-option *ngFor="let option of sortOptions" [value]="option.value"
                [disabled]="option.disabled">{{option.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button color="secondary" class="m-l-2 m-b-2" mat-button (click)="sortMethod.setValue(1)" *ngIf="clearEnabled">
        <mat-icon fontIcon="sort_alt_off"></mat-icon>limpar
    </button>
</div>
<div>
    <mat-form-field>
        <mat-label>Filtrar por empresa</mat-label>
        <mat-select [formControl]="companyFilter" multiple>
            <mat-select-trigger>
                {{companyFilter.value?.[0] || ''}}
                <span *ngIf="(companyFilter.value?.length || 0) > 1" class="example-additional-selection">
                    (+{{(companyFilter.value?.length || 0) - 1}} {{companyFilter.value?.length === 2 ? 'other' :
                    'others'}})
                </span>
            </mat-select-trigger>
            <mat-option *ngFor=" let company of companyOptions" [value]="company">{{company}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>