:host {
  width: 100%;
}

.wrapper {
  position: relative;
}

.scrolling-results {
  position: absolute;
  width: 100%;
  top: 56px;
  left: 0;
  box-shadow: (2px 2px 10px rgba(0, 0, 0, 0.4));
  max-height: 300px;
  overflow-y: auto;
  z-index: 99;
  &[disabled="true"] {
    pointer-events: none;
    filter: contrast(0.3) brightness(1.4);
  }
}
