<div class="wrapper">
  <mat-form-field subscriptSizing="dynamic" class="w-100">
    <mat-label>Busca</mat-label>
    <div class="flex align-items-center">
      <input [formControl]="searchBar" matInput placeholder="Ex. Terre d`Hermes" />
    </div>
  </mat-form-field>
  <div *ngIf="loading || (results.length && showResults)" class="scrolling-results" [attr.disabled]="loading">
    <ng-container *ngFor="let perfume of results">
      <perfume-search-result [perfume]="perfume" (action-triggered)="addToCollection($event)" />
    </ng-container>
  </div>