:host {
  width: 100%;
}

.wrapper {
  position: relative;
}

.scrolling-results {
  position: absolute;
  width: 100%;
  top: 56px;
  left: 0;
  box-shadow: (2px 2px 10px rgba(0, 0, 0, 0.4));
  max-height: 300px;
  overflow-y: auto;
  z-index: 99;
  &[disabled="true"] {
    pointer-events: none;
    filter: contrast(0.3) brightness(1.4);
  }
}

.result {
  background-color: white;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(105%) saturate(125%);
  }

  &__thumbnail {
    object-fit: contain;
  }

  &__title {
    margin-bottom: unset;
  }
  &__subtitle {
    color: grey;
    margin-bottom: unset;
  }
  &__rating-wrapper {
    img {
      height: 12px;
      margin-right: 3px;
    }
  }
}

.collection {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  &__perfume {
    cursor: pointer;
    height: fit-content;
    max-width: 230px;
    margin: var(--spacing-sm);
    p {
      margin-bottom: unset;
    }
  }
}

.notes {
  &__wrapper {
    a:not(:last-of-type) {
      margin-right: var(--spacing-xs);
    }
    img {
      width: 35px;
    }
  }
}
