/* You can add global styles to this file, and also import other style files */
@use "variables.scss";
@use "utilities.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fill-space {
  flex: 1 1 auto;
}

.vertical-separator {
  height: 100%;
  width: 1.5px;
  &--black {
    @extend .vertical-separator;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &--white {
    @extend .vertical-separator;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.mat-mdc-snack-bar-container {
  &.success {
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-container-color: var(--color-success);
    --mdc-snackbar-supporting-text-color: white;
  }
  &.info {
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-container-color: var(--color-info);
    --mdc-snackbar-supporting-text-color: white;
  }
  &.warn {
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-container-color: var(--color-warn);
    --mdc-snackbar-supporting-text-color: white;
  }
  &.error {
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-container-color: var(--color-error);
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: #ffd58f;
  }
}

.mat-mdc-mini-fab {
  box-shadow: unset !important;
  &:hover,
  &:focus {
    box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.2),
      0px 3px 4px 1px rgba(0, 0, 0, 0.14), 0px 3px 6px 2px rgba(0, 0, 0, 0.12) !important;
  }
}
